## Cheat for quick sync
.svn

## Notepads
.idea
.vscode

## This should NOT be here!
*.dll
*.exe
*.iso
*.7z
*.psd
*.pdn

## Systems temporal files
*DS_Store
*.tmp
*~*
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
.fuse_hidden*
.directory
.Trash-*
