#define REACTOS_STR_FILE_DESCRIPTION   "TCP/IPv4 netstat"
#define REACTOS_STR_INTERNAL_NAME      "netstat"
#define REACTOS_STR_ORIGINAL_FILENAME  "netstat.exe"
#define REACTOS_STR_ORIGINAL_COPYRIGHT "Ged Murphy (gedmurphy@gmail.com)"
#include <reactos/version.rc>
